<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"> 

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbRangoEdad}</ui:define>
        <ui:define name="body">
            <h:form>

                <p:breadCrumb style="width: 250px;">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbRangoEdad}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
                <br />
                <br />

                <p:dialog header="#{messages.BreadCrumbRangoEdad}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </p:dialog>

                <div class="tabla">
                    <h:outputText escape="false" value="#{messages.RangoEdadNoExistenDatos}" rendered="#{cnmasRangoEdadController.items.rowCount == 0}"/>

                    <h:panelGroup rendered="#{cnmasRangoEdadController.items.rowCount > 0}">

                        <p:dataTable value="#{cnmasRangoEdadController.items}" var="item" styleClass="dataTable" 
                                     rowIndexVar="rowIndex"
                                     rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'highlight1' : 'highlight2'}" >  
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.Id}"/>
                                </f:facet>
                                <h:outputText value="#{item.idRango}" class="itemList"/>
                            </p:column>                             
                            <p:column style="width: 50%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.RangoEdadNombre}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombre}"  class="itemList"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.RangoEdadDesde}"/>
                                </f:facet>
                                <div align="right">
                                    <h:outputText value="#{item.desde}"  class="itemList">
                                        <f:convertNumber type="number" maxFractionDigits="0" locale="es-ES" />
                                    </h:outputText>
                                </div>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.RangoEdadHasta}"/>
                                </f:facet>
                                <div align="right">
                                    <h:outputText value="#{item.hasta}"  class="itemList">
                                       <f:convertNumber type="number" maxFractionDigits="0" locale="es-ES" />
                                    </h:outputText>
                                </div>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.ListaOperaciones}"/>
                                </f:facet>
                                <div align="center">
                                    <h:commandButton action="#{cnmasRangoEdadController.prepareEdit}" image="/images/edit.png" title="#{messages.BotonEditar}"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandButton action="#{cnmasRangoEdadController.destroy}" image="/images/eliminar.png" title="#{messages.BotonEliminar}"
                                                     onclick="return confirm('#{messages.RangoEdadDeseaEliminar}')"/>
                                </div>
                            </p:column>   
                        </p:dataTable>

                    </h:panelGroup>
                    <div>
                        <div class="pagination">
                            <h:commandButton action="#{cnmasRangoEdadController.previous()}" class="buttonPagination" value="#{messages.BotonPrevio}" rendered="#{cnmasRangoEdadController.pagination.hasPreviousPage}"/>&nbsp;                            
                            <ui:repeat var="page" value="#{cnmasRangoEdadController.pagination.pages}">
                                <h:commandButton action="#{cnmasRangoEdadController.toPage(page)}" value="#{page}" class="#{(cnmasRangoEdadController.pagination.isActivePage(page)) ? 'buttonPaginationPage' : 'buttonPagination'}" />&nbsp;
                            </ui:repeat>
                            <h:commandButton action="#{cnmasRangoEdadController.next}" class="buttonPagination" value="#{messages.BotonSiguiente}" rendered="#{cnmasRangoEdadController.pagination.hasNextPage}"/>
                        </div>
                    </div>

                    <br />
                    <div class="actions" style="padding-bottom: 20px;">
                        <h:commandButton value="#{messages.BotonNuevo}"  action="#{cnmasRangoEdadController.prepareCreate}" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
