.actions .button { display: inline-block;
                   width: auto;
                   background-color: #e49d3a;
                   background-image: -moz-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: -webkit-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: -ms-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: linear-gradient(to bottom, #f8b75c 0%, #e49d3a 100%);
                   color: #fff;
                   text-shadow: 2px 2px 2px #c67c13;
                   text-decoration: none;
                   padding: 8px 22px;
                   border: solid 1px #c67c13;
                   -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                   border-radius: 5px;
                   -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   cursor: pointer;
}

.pagination {
    padding-top: 5px;
    display: inline-block;
    float: right;
}

.buttonPagination { display: inline-block;
                   width: auto;
                   background-color: #e49d3a;
                   background-image: -moz-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: -webkit-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: -ms-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: linear-gradient(to bottom, #f8b75c 0%, #e49d3a 100%);
                   color: #fff;
                   text-shadow: 2px 2px 2px #c67c13;
                   text-decoration: none;
                   border: solid 1px #c67c13;
                   -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                   border-radius: 5px;
                   -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   cursor: pointer;
}

.buttonPaginationPage { display: inline-block;
                   width: auto;
                   background-color: #32970a;
                   background-image: -moz-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: -webkit-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: -ms-linear-gradient(bottom, #f8b75c 0%, #e49d3a 100%);
                   background-image: linear-gradient(to bottom, #f8b75c 0%, #e49d3a 100%);
                   color: #fff;
                   text-shadow: 2px 2px 2px #c67c13;
                   text-decoration: none;
                   border: solid 1px #c67c13;
                   -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                   border-radius: 5px;
                   -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
                   box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);
}


.ui-breadcrumb {
    background: none!important;
    border: none!important;
    display:inline-block;
    font-size: 80%;
}

.ui-breadcrumb .itemBreadCrumb {
    text-decoration: none; 
    font-weight: normal;
}

.tabla {
    width: 870px;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 80%;
}

.tabla .itemList {
    color: #32970a;
}

.tabla2 {
    font-size: 65%;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}
.tabla2 .itemList {
    color: #32970a;
}
.formulario {
    width: 870px;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 80%;
}

.formulario .etiqueta {
    font-size: 110%;
}

.highlight1 {
    background: white  !important ;
}

.highlight2 {
    background: #fff8d8  !important ;
}

TABLE.panelGrid {
    width: 850px;
}

TABLE.panelGrid TR {
    width: 100%;
}

TABLE.panelGrid TR TD {
    width: 10%;
    border: 10px white;
    background: #f0f0f0  !important ;
    padding-left: 15px;
    padding-top: 5px;
}

TABLE.panelGrid2 TR TD {
    width: 10%;
    border: 10px white;
    background: #f0f0f0  !important ;
    padding-left: 0px;
    padding-top: 0px;
}

TABLE.panelGrid TR TD INPUT {
    width: 95%;
}

TABLE.panelGrid TR TD.tooltip INPUT {
    float: left;
}

TABLE.panelGrid TR TD.tooltip INPUT.integer {
    width: 100px !important;
}

TABLE.panelGrid TR TD.tooltip INPUT.text {
    width: 92% !important;
}

TABLE.panelGrid TR TD.tooltip IMG {
    float: left;
    padding: 2px 0px 0px 10px;
}

TABLE.panelGridTable {
    width: 850px;
}

TABLE.panelGridTable TR {
    width: 100%;
}

TABLE.panelGridTable TR TD {
    border: none !important;
    background: #f0f0f0  !important ; 
}

TABLE.panelGrid3 {
    width: 850px;
}

TABLE.panelGrid3 TR {
    width: 100%;
}

TABLE.panelGrid3 thead {
    text-align: center;
    font-weight: bold;
    background: #f0f0f0  !important ;
}

TABLE.panelGrid3 tbody {
    width: 10%;
    border: 10px white;
    background: #ffffff  !important ;
    padding-left: 15px;
    padding-top: 5px;
}

.dialog {
    font-size: 80%;
}

.ui-menubar,.ui-menu-child,.ui-menu {
    background: #f0f0f0  !important;
}

.dataTable {
    border: solid 1px #e2e2e2 !important;
}
.dataTable TH {
    background: #f0f0f0  !important;  
    border: solid 1px #e2e2e2 !important; 
}

.dataTable TR TD {
    border: solid 1px #e2e2e2 !important;
}

.ui-picklist-source, .ui-picklist-target {
    width: 300px !important; 
}

.ui-picklist-button-add {
    background-image: url(../images/add.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;    
}

.ui-picklist-button-add-all {
    background-image: url(../images/addAll.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;    
}

.ui-picklist-button-remove {
    background-image: url(../images/remove.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;
}

.ui-picklist-button-remove-all {
    background-image: url(../images/removeAll.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;
}

.ui-picklist-button-move-up {
    background-image: url(../images/moveUp.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;
}


.ui-picklist-button-move-top {
    background-image: url(../images/moveTop.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;
}

.ui-picklist-button-move-down {
    background-image: url(../images/moveDown.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;
}

.ui-picklist-button-move-bottom {
    background-image: url(../images/moveBottom.png) !important;
    background-repeat:no-repeat !important;
    background-position: 4px 1px !important;
}

.ui-picklist .ui-button  {
    background-color: #f0f0f0 !important;
    border: none !important;
    box-shadow: none !important;

}

/* boton picklist add */
.ui-icon-arrow-1-e {
    background-image: url(../images/add.png) !important;
}

/*boton picklist add all */
.ui-icon-arrowstop-1-e {
    background-image: url(../images/addAll.png) !important;
}

/*Boton picklist delete*/
.ui-icon-arrow-1-w {
    background-image: url(../images/delete.png) !important;
}

/* Boton picklist delete all*/
.ui-icon-arrowstop-1-w {
    background-image: url(../images/deleteAll.png) !important;
}

/*Boton picklist subir 1*/
.ui-icon-arrow-1-n {
    background-image: url(../images/moveUp.png) !important;
}


/*Boton picklist subir top*/
.ui-icon-arrowstop-1-n {
    background-image: url(../images/moveTop.png) !important;
}

/* Boton picklist bajar 1*/
.ui-icon-arrow-1-s {
    background-image: url(../images/moveDown.png) !important;
}

/*Boton picklist bajar bottom*/
.ui-icon-arrowstop-1-s {
    background-image: url(../images/moveBottom.png) !important;
}


.dateTimeField input {
    vertical-align: middle;
    margin-right: 10px;
    width: 120px !important;
}

.ui-selectoneradio label {
    display: compact;
    margin-top: 4px !important;
}

.ax_horizontal_line {
    color: #333333;
    font-size: 13px;
    line-height: normal;
    text-align: center;
}

.loading_image{
    background-image: url(../images/loading.gif) !important;
}

.ui-fieldset-toggleable .ui-fieldset-legend{width:200px;}
.ui-fieldset .ui-fieldset-toggler{padding-right: .3em !important}