<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <h:outputScript library="js" name="condeNast.js" />

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbCrearFuenteDatos}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbOrigenDatos}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbFuenteDatos}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbCrearFuenteDatos}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbCrearFuenteDatos}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>


            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column>              
                                <h:outputLabel value="#{messages.FuenteDatosNombre} *" for="nombre"  class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnetlFuenteController.selected.nombre}" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.FuenteDatosFuenteTipo} *" for="idFuenteTipo" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idFuenteTipo" value="#{cnetlFuenteController.selected.idFuenteTipo}" 
                                                 style="width: 95%;" onchange="changeFuenteTipo()" >
                                    <f:selectItems value="#{cnetlFuenteTipoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>



                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.FuenteDatosOrigen} *" for="origen" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="origen" value="#{cnetlFuenteController.selected.origen}" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.FuenteDatosEsFichero} *" for="esFichero" class="etiqueta" />                           
                            </p:column>
                            <p:column>
                                <p:selectOneRadio id="esFichero" value="#{cnetlFuenteController.selected.esFichero}">
                                    <f:selectItem itemLabel="#{messages.FuenteDatosFichero}" itemValue="true" />
                                    <f:selectItem itemLabel="#{messages.FuenteDatosCarpeta}" itemValue="false" />
                                </p:selectOneRadio>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.FuenteDatosActivo}" for="activo" class="etiqueta" />                     
                            </p:column>
                            <p:column>
                                <h:selectBooleanCheckbox value="#{cnetlFuenteController.selected.activo}"/>
                            </p:column>
                        </p:row>

                    </p:panelGrid>
                    <br/>
                    <p:panelGrid styleClass="panelGridTable">     
                        <p:row>
                            <p:column style="width: 30%; vertical-align: top;">
                                <div align="center">
                                    #{messages.FuenteDatosValoresPersonalizadosBBDD}
                                </div>     
                                <br/>
                                <h:selectOneListbox id="valorBBDD" value="#{cnetlFuenteController.valorSeleccionadoBBDD}"  size="20" onclick="showDescription();" style="width: 100%;">
                                    <f:selectItems value="#{cnetlFuenteController.valoresBBDD}" var="item" itemDisabled="#{cnetlFuenteController.isDisabled(item)}" />
                                </h:selectOneListbox> 
                                <p:messages severity="info" id="messagesSource" showDetail="true"  closable="true" style="padding-left:  5px !important; width: 315px;" />
                            </p:column>
                            <p:column style="width: 5%;">
                                <div align="center">
                                    <h:commandButton action="#{cnetlFuenteController.insertOrigen}" image="/images/add.png" style="width: 25px;"/>
                                    <br/>
                                    <h:commandButton action="#{cnetlFuenteController.removeOrigen}" image="/images/remove.png" style="width: 25px;"/>
                                </div>
                            </p:column>

                            <p:column style="width: 60%; vertical-align: top;">
                                <div align="center">
                                    #{messages.FuenteDatosValoresPersonalizadosOrigen}
                                </div>     
                                <br/>
                                <p:dataTable id="valores" value="#{cnetlFuenteController.valoresOrigen}" var="origenFuente" 
                                             selectionMode="single" rowKey="#{origenFuente.cnetlOrigen.idOrigen}"
                                             selection="#{cnetlFuenteController.valorSeleccionadoOrigen}"
                                             emptyMessage="">
                                    <p:column> 
                                        <f:facet name="header">  
                                            #{messages.FuenteDatosCampoBBDD}
                                        </f:facet>

                                        <h:outputText value="#{origenFuente.cnetlOrigen.nombre}" />  
                                    </p:column> 
                                    <p:column>  
                                        <f:facet name="header">  
                                            #{messages.FuenteDatosValor}
                                        </f:facet>
                                        <h:inputText  value="#{origenFuente.valor}">
                                            <f:validator validatorId="datoValidator"/>
                                            <f:attribute name="expReg" value="#{origenFuente.cnetlOrigen.idDato.expReg}"/>
                                            <f:attribute name="campoBBDD" value="#{origenFuente.cnetlOrigen.nombre}"/>
                                        </h:inputText>
                                    </p:column>        
                                    <p:column>  
                                        <f:facet name="header">  
                                            #{messages.FuenteDatosFormato}
                                        </f:facet>
                                        <h:outputText  value="#{origenFuente.cnetlOrigen.idDato.descripcion}"/>  
                                    </p:column>                                      
                                </p:dataTable>
                            </p:column>
                        </p:row>
                    </p:panelGrid>



                    <p:remoteCommand name="descriptionOrigen" action="#{cnetlFuenteController.showDescription}" update="messagesSource" immediate="true"/>
                    <p:remoteCommand name="changeFuenteTipoJSF" action="#{cnetlFuenteController.changeFuenteTipo}" update="valorBBDD" immediate="true"/>


                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton id="guardar" value="#{messages.BotonGuardar}" action="#{cnetlFuenteController.create}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnetlFuenteController.prepareList}" immediate="true" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
