<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <h:outputScript library="js" name="condeNast.js" />


    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbCrearTipoMasterDatos}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbOrigenDatos}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbTipoMasterDatos}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbCrearTipoMasterDatos}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbCrearTipoMasterDatos}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form  id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoMasterDatosNombre} *" for="nombre" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnetlMasterTipoController.selected.nombre}" 
                                             required="true" requiredMessage="#{messages.TipoMasterDatosNombreObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoMasterDatosFieldTerminated} *" for="fieldTerminated" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="fieldTerminated" value="#{cnetlMasterTipoController.selected.fieldTerminated}" 
                                             required="true" requiredMessage="#{messages.TipoMasterDatosFieldTerminatedObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoMasterDatosFieldEnclosed}" for="fieldEnclosed" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="fieldEnclosed" value="#{cnetlMasterTipoController.selected.fieldEnclosed}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoMasterDatosFieldScaped}" for="fieldScaped" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="fieldScaped" value="#{cnetlMasterTipoController.selected.fieldScaped}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoMasterDatosLineTerminated} *" for="lineTerminated" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="lineTerminated" value="#{cnetlMasterTipoController.selected.lineTerminated}" 
                                             required="true" requiredMessage="#{messages.TipoMasterDatosLineTerminatedObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoMasterDatosLineIgnore} *" for="lineIgnore" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="lineIgnore" value="#{cnetlMasterTipoController.selected.lineIgnore}" 
                                             required="true" requiredMessage="#{messages.TipoMasterDatosLineIgnoreObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoMasterDatosFormato} *" for="idFormato" class="etiqueta"  />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idFormato" value="#{cnetlMasterTipoController.selected.idFormato}" 
                                                 required="true" requiredMessage="#{messages.TipoMasterDatosFormatoObligatorio}" style="width: 95%;">
                                    <f:selectItems value="#{cnetlFormatoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>

                    <p:panelGrid styleClass="panelGridTable" > <!-- style="height: 300px;" -->
                        <p:row>
                            <p:column  style="padding-top: 30px;">
                                <div align="center">
                                    <p:pickList id="pickList" value="#{cnetlMasterTipoController.origenes}" 
                                                var="origen" itemLabel="#{origen.nombre}" itemValue="#{origen}" style="text-align: left"
                                                showTargetControls="true" converter="origenPickListConverter">

                                        <p:ajax event="transfer" listener="#{cnetlMasterTipoController.onElementDualListTransfer}" update="pickList" /> 

                                        <f:facet name="sourceCaption">#{messages.TipoMasterDatosCamposDisponibles}</f:facet>
                                        <f:facet name="targetCaption">#{messages.TipoMasterDatosCamposOrigen}</f:facet>
                                    </p:pickList>
                                </div>
                                <p:messages severity="info" id="messagesSource" showDetail="true"  closable="true" style="padding-left:  70px !important; width: 310px;" />
                                <p:messages severity="info" id="messagesTarget" showDetail="true"  closable="true" style="padding-left:  410px !important; width: 310px;" />   
                            </p:column>
                        </p:row>

                  
                    </p:panelGrid>

                    <p:remoteCommand name="descriptionOrigen" action="#{cnetlMasterTipoController.showDescription}" update="messagesSource" immediate="true"/>
                    <p:remoteCommand name="descriptionDestino" action="#{cnetlMasterTipoController.showDescription}" update="messagesTarget" immediate="true"/>

                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="#{messages.BotonGuardar}" action="#{cnetlMasterTipoController.create}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnetlMasterTipoController.prepareList()}" immediate="true" class="button"/>
                    </div>
                </div>
            </h:form>

            <script type="text/javascript">
                $(document).ready(function() {
                    rebindClicks();
                });
            </script>
        </ui:define>
    </ui:composition>

</html>
