<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputScript library="js" name="condeNast.js" />

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbUsuariosCRM}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbUsuariosCRM}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />

            <p:dialog header="#{messages.BreadCrumbUsuariosCRM}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <div class="formulario" style="text-align: center;">
                <p:panelGrid styleClass="panelGrid">
                    <p:row>
                        <p:column> 
                            <h:outputLabel value="#{messages.UsuariosCRMAdvertencia}" style="color: red; font-size: 1.5em;" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </div>
            <br />
            <br />


            <h:form id="formDesactivarId" onkeypress="if (event.keyCode == 13) {  return false; }">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.UsuariosCRMEmail} *" for="email" />
                            </p:column>
                            <p:column>
                                <h:inputText id="email" value="#{cncrmUsuarioController.selected.email}" 
                                             required="true" requiredMessage="#{messages.UsuariosCRMEmailObligatorio}"
                                             title="#{messages.UsuariosCRMEmailsToolTip}">
                                    <f:validator validatorId="emailValidator" />
                                </h:inputText>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.UsuariosCRMMarcas} *" />
                            </p:column>
                            <p:column>
                                <h:selectManyListbox value="#{cncrmUsuarioController.marcas}" size="7" style="width: 95%;"
                                                     required="true" requiredMessage="#{messages.UsuariosCRMMarcasObligatorio}">
                                    <f:selectItems  value="#{cnmasMarcaController.itemsAvailableSelectOneSinGuion}"/>
                                </h:selectManyListbox>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <p:confirmDialog header="Desactivar Usuario" message="¿Está seguro que desea desactivar a este usuario?" widgetVar="confDesactivar">
                        <h:commandButton value="Si" class="button" styleClass="ui-confirmdialog-yes" immediate="true" action="#{cncrmUsuarioController.desactivar}"/>
                        <h:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" onclick="PF('confDesactivar').hide()" />
                    </p:confirmDialog>

                    <p:confirmDialog header="Desactivar Usuario" message="No existe un registro para el email/marca(s) seleccionadas o el usuario ya está desactivado para la marca(s) seleccionada(s)" widgetVar="confDesactivar0">
                        <h:commandButton value="Aceptar" type="button" styleClass="ui-confirmdialog-no" onclick="PF('confDesactivar0').hide()" />
                    </p:confirmDialog>

                    <div class="actions" style="padding-bottom: 20px; padding-top: 20px;">
                        <h:commandButton id="desactivar" value="#{messages.BotonDesactivar}" action="#{cncrmUsuarioController.preguntaDesactivar}" class="button"/>
                    </div>
                </div>                    
            </h:form>

            <h:form id="formBorrarEmailId" onkeypress="if (event.keyCode == 13) {  return false; }">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.UsuariosCRMEmails} *"  />
                            </p:column>
                            <p:column>
                                <h:inputText id="email" value="#{cncrmUsuarioController.emails}" 
                                             required="true" requiredMessage="#{messages.UsuariosCRMEmailsObligatorio}" title="#{messages.UsuariosCRMEmailsBajaToolTip}" >
                                    <f:validator validatorId="emailValidator" />
                                </h:inputText>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <c:if test="#{cncrmUsuarioController.numeroRegistros > 0}">
                        <p:confirmDialog header="Eliminar" message="¿Está seguro que desea eliminar a este usuario(s)?" widgetVar="confirmacionPorEmail">
                            <h:commandButton value="Si" class="button" styleClass="ui-confirmdialog-yes" immediate="true" action="#{cncrmUsuarioController.eliminarPorEmails}"/>
                            <h:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" onclick="PF('confirmacionPorEmail').hide()" />
                        </p:confirmDialog>
                    </c:if>

                    <c:if test="#{cncrmUsuarioController.numeroRegistros == 0}">
                        <p:confirmDialog header="Eliminar" message="No existen usuarios en la BBDD con estos emails" widgetVar="confirmacionPorEmail0">
                            <h:commandButton value="Aceptar" type="button" styleClass="ui-confirmdialog-no" onclick="PF('confirmacionPorEmail0').hide()" />
                        </p:confirmDialog>
                    </c:if>                    


                    <div class="actions" style="padding-bottom: 20px; padding-top: 20px;">
                        <h:commandButton id="guardar" value="#{messages.BotonEliminar}" action="#{cncrmUsuarioController.countPorEmails}" class="button"/>
                    </div>
                </div>                    
            </h:form>

            <h:form id="formBorrarFechaId" onkeypress="if (event.keyCode == 13) {  return false; }">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.UsuariosCRMFecha} * (Fecha de baja de los productos)" />
                            </p:column>
                            <p:column>
                                <p:calendar styleClass="dateTimeField" id="fecha" value="#{cncrmUsuarioController.fecha}"  
                                            showOn="button" locale="es" navigator="true" pattern="dd/MM/yyyy" mask="true" 
                                            required="true" requiredMessage="#{messages.UsuariosCRMFechaObligatorio}"
                                            title="#{messages.UsuariosCRMFechaBajaToolTip}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <c:if test="#{cncrmUsuarioController.numeroRegistros > 0}">
                        <p:confirmDialog header="Eliminar" message="¿Desea eliminar #{cncrmUsuarioController.numeroRegistros} usuarios?" widgetVar="confirmacionPorFecha">
                            <h:commandButton value="Si" class="button" styleClass="ui-confirmdialog-yes" immediate="true" action="#{cncrmUsuarioController.eliminarPorFecha}"/>
                            <h:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" onclick="PF('confirmacionPorFecha').hide()" />
                        </p:confirmDialog>
                    </c:if>

                    <c:if test="#{cncrmUsuarioController.numeroRegistros eq 0}">
                        <p:confirmDialog header="Eliminar" message="No existen usuarios en la BBDD anteriores a la fecha introducida" widgetVar="confirmacionPorFecha0">
                            <h:commandButton value="Aceptar" type="button" styleClass="ui-confirmdialog-no" onclick="PF('confirmacionPorFecha0').hide()" />
                        </p:confirmDialog>
                    </c:if>


                    <div class="actions" style="padding-bottom: 20px; padding-top: 20px;">
                        <h:commandButton id="eliminar" value="#{messages.BotonEliminar}" action="#{cncrmUsuarioController.countPorFecha}" class="button"/>
                    </div>
                </div>                    
            </h:form>
        </ui:define>
    </ui:composition>

    <h:outputScript library="js" name="calendar_es.js" />

</html>
