<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbEditarCliente}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbAdministracionClientes}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbClientesApi}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbEditarCliente}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbEditarCliente}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>


            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column>              
                                <h:outputLabel value="#{messages.NombreCliente} *" for="nombreCliente"  class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombreCliente" value="#{cnapiClientesController.selected.nombreCliente}" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.FechaCaducidad} *" for="fechaCaducidad" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <p:calendar id="fechaCaducidad" value="#{cnapiClientesController.selected.fechaCaducidad}" title="#{bundle.CreateCnapiClientesTitle_fechaCaducidad}" 
                                            effect="fold" pattern="dd/MM/yyyy"
                                            styleClass="dateTimeField" locale="es" showOn="button" navigator="true" mask="true">
                                </p:calendar>
                            </p:column>
                        </p:row>
                        
                        <p:row>
                            <p:column>              
                                <h:outputLabel value="#{messages.NumeroRenovaciones} *" for="numeroRenovaciones"  class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="numeroRenovaciones" value="#{cnapiClientesController.selected.numeroRenovaciones}" />
                            </p:column>
                        </p:row>
                        
                        <p:row>
                            <p:column>              
                                <h:outputLabel value="#{messages.IdCliente}" for="idRenovaciones"  class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="idCliente" value="#{cnapiClientesController.selected.idCliente}" disabled="true"/>
                            </p:column>
                        </p:row>
                        
                    </p:panelGrid>
                    <br/>
                    
                    <p:panelGrid styleClass="panelGridTable" > <!-- style="height: 300px;" -->
                        <p:row>
                            <p:column  style="padding-top: 30px;">
                                <div align="center">
                                    <p:pickList id="pickList" value="#{cnapiClientesController.marcas}" 
                                                var="marca" itemLabel="#{marca.nombre}" itemValue="#{marca}" style="text-align: left"
                                                showTargetControls="false" converter="marcaPickListConverter">

                                        <p:ajax event="transfer" listener="#{cnapiClientesController.onElementDualListTransfer}" update="pickList" /> 

                                        <f:facet name="sourceCaption">#{messages.MarcasDisponibles}</f:facet>
                                        <f:facet name="targetCaption">#{messages.MarcasAsociadas}</f:facet>
                                    </p:pickList>
                                </div>
                            </p:column>
                        </p:row>

                  
                    </p:panelGrid>
                    <br/>
                    
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton id="guardar" value="#{messages.BotonGuardar}" action="#{cnapiClientesController.update}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnapiClientesController.prepareList}" immediate="true" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

    <h:outputScript library="js" name="calendar_es.js" />
    
</html>
