<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbCrearTiposUsuario}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbTiposUsuario}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbCrearTiposUsuario}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbCrearTiposUsuario}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TiposUsuarioNombre} *" for="nombre" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnmasUsuarioTipoController.selected.nombre}" 
                                             required="true" requiredMessage="#{messages.TiposUsuarioNombreObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.TiposUsuarioMarcaDesde} *" for="marcaDesde" />
                            </p:column>
                            <p:column>
                                <h:inputText id="marcaDesde" value="#{cnmasUsuarioTipoController.selected.marcaDesde}" 
                                             required="true" requiredMessage="#{messages.TiposUsuarioMarcaDesdeObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.TiposUsuarioMarcaHasta}" for="marcaHasta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="marcaHasta" value="#{cnmasUsuarioTipoController.selected.marcaHasta}" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.TiposUsuarioPeso} *" for="peso" />
                            </p:column>
                            <p:column>
                                <h:inputText id="peso" value="#{cnmasUsuarioTipoController.selected.peso}" 
                                             required="true" requiredMessage="#{messages.TiposUsuarioPesoObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.TiposUsuarioCNDesde} *" for="cnDesde" />
                            </p:column>
                            <p:column>
                                <h:inputText id="cnDesde" value="#{cnmasUsuarioTipoController.selected.cnDesde}" 
                                             required="true" requiredMessage="#{messages.TiposUsuarioCNDesdeObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.TiposUsuarioCNHasta}" for="cnHasta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="cnHasta" value="#{cnmasUsuarioTipoController.selected.cnHasta}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.TiposUsuarioActivo}" for="activo" />
                            </p:column>
                            <p:column>
                                <h:selectBooleanCheckbox value="#{cnmasUsuarioTipoController.selected.activo}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton id="guardar" value="#{messages.BotonGuardar}" action="#{cnmasUsuarioTipoController.create}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnmasUsuarioTipoController.prepareList}" immediate="true" class="button"/>
                    </div>
                </div>  
            </h:form>
        </ui:define>
    </ui:composition>

</html>
