<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"> 

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbTiposUsuario}</ui:define>
        <ui:define name="body">
            <h:form>

                <p:breadCrumb style="width: 250px;">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbTiposUsuario}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
                <br />
                <br />

                <p:dialog header="#{messages.BreadCrumbTiposUsuario}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </p:dialog>

                <div class="tabla">
                    <h:outputText escape="false" value="#{messages.TiposUsuarioNoExistenDatos}" rendered="#{cnmasUsuarioTipoController.items.rowCount == 0}"/>

                    <h:panelGroup rendered="#{cnmasUsuarioTipoController.items.rowCount > 0}">

                        <p:dataTable value="#{cnmasUsuarioTipoController.items}" var="item" styleClass="dataTable" 
                                     rowIndexVar="rowIndex"
                                     rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'highlight1' : 'highlight2'}" >    
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.Id}"/>
                                </f:facet>
                                <h:outputText value="#{item.idUsuarioTipo}" class="itemList"/>
                            </p:column> 
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.TiposUsuarioNombre}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombre}"  class="itemList"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.TiposUsuarioMarcaDesde}"/>
                                </f:facet>
                                <div align="right">
                                    <h:outputText value="#{item.marcaDesde}"  class="itemList">
                                        <f:convertNumber type="number" maxFractionDigits="0" locale="es-ES" />
                                    </h:outputText>
                                </div>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.TiposUsuarioMarcaHasta}"/>
                                </f:facet>
                                <div align="right">
                                    <h:outputText value="#{item.marcaHasta}"  class="itemList">
                                        <f:convertNumber type="number" maxFractionDigits="0" locale="es-ES" />
                                    </h:outputText>
                                </div>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.TiposUsuarioCNDesde}"/>
                                </f:facet>
                                <div align="right">
                                    <h:outputText value="#{item.cnDesde}" class="itemList">
                                        <f:convertNumber type="number" maxFractionDigits="0" locale="es-ES" />
                                    </h:outputText>
                                </div>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.TiposUsuarioCNHasta}"/>
                                </f:facet>
                                <div align="right">
                                    <h:outputText value="#{item.cnHasta}"  class="itemList">
                                        <f:convertNumber type="number" maxFractionDigits="0" locale="es-ES" />
                                    </h:outputText>
                                </div>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.TiposUsuarioActivo}"/>
                                </f:facet>
                                <div align="center">
                                    <h:selectBooleanCheckbox value="#{item.activo}" disabled="true"/>
                                </div>
                            </p:column>                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.ListaOperaciones}"/>
                                </f:facet>
                                <div align="center">
                                    <h:commandButton action="#{cnmasUsuarioTipoController.prepareEdit}" image="/images/edit.png" title="#{messages.BotonEditar}"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandButton action="#{cnmasUsuarioTipoController.destroy}" image="/images/eliminar.png" title="#{messages.BotonEliminar}"
                                                     onclick="return confirm('#{messages.TiposUsuarioDeseaEliminar}')"/>
                                </div>
                            </p:column> 
                        </p:dataTable>
                    </h:panelGroup>
                    <div>
                        <div class="pagination">
                            <h:commandButton action="#{cnmasUsuarioTipoController.previous()}" class="buttonPagination" value="#{messages.BotonPrevio}" rendered="#{cnmasUsuarioTipoController.pagination.hasPreviousPage}"/>&nbsp;                            
                            <ui:repeat var="page" value="#{cnmasUsuarioTipoController.pagination.pages}">
                                <h:commandButton action="#{cnmasUsuarioTipoController.toPage(page)}" value="#{page}" class="#{(cnmasUsuarioTipoController.pagination.isActivePage(page)) ? 'buttonPaginationPage' : 'buttonPagination'}" />&nbsp;
                            </ui:repeat>
                            <h:commandButton action="#{cnmasUsuarioTipoController.next}" class="buttonPagination" value="#{messages.BotonSiguiente}" rendered="#{cnmasUsuarioTipoController.pagination.hasNextPage}"/>
                        </div>
                    </div>

                    <br />
                    <div class="actions" style="padding-bottom: 20px;">
                        <h:commandButton value="#{messages.BotonNuevo}"  action="#{cnmasUsuarioTipoController.prepareCreate}" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
