<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbCrearOcupacion}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbOcupacion}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbCrearOcupacion}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbCrearOcupacion}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.OcupacionNombre} *" for="nombre" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnmasOcupacionController.selected.nombre}" 
                                             required="true" requiredMessage="#{messages.OcupacionNombreObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.OcupacionTipo} *" for="idOcupacionTipo" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idOcupacionTipo" value="#{cnmasOcupacionController.selected.idOcupacionTipo}" 
                                                 style="width: 95%;" required="true" requiredMessage="#{messages.OcupacionTipoObligatorio}">
                                    <f:selectItems value="#{cnmasOcupacionTipoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>                        
                    </p:panelGrid>
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton id="guardar" value="#{messages.BotonGuardar}" action="#{cnmasOcupacionController.create}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnmasOcupacionController.prepareList}" immediate="true" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
