<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{cncrmBuscarUsuarioController.unidadNegocioName}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbBuscarUsuarioCRM}" styleClass="itemBreadCrumb" url="./SearchUser.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosCRM}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosCRMVer}" styleClass="itemBreadCrumb"  url="./DetailList.xhtml"/>
                    <p:menuitem value="#{cncrmBuscarUsuarioController.unidadNegocioName}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            <br />
            <br />
            <div class="tabla">
                <p:dataTable value="#{cncrmBuscarUsuarioController.details}" var="detailList" 
                             emptyMessage="">
                    <p:columns value="#{cncrmBuscarUsuarioController.details[0]}" var="detail" columnIndexVar="counter">
                            <f:facet name="header">
                                <h:outputText value="#{cncrmBuscarUsuarioController.detailHeader[counter]}"/>
                            </f:facet>
                        <h:outputText value="#{detailList[counter]}" />  
                    </p:columns>
                </p:dataTable>
            </div>
            <br />
            <br />
            </h:form>
        </ui:define>
    </ui:composition>
</html>
