<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbResultadosCRMVer}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbBuscarUsuarioCRM}" styleClass="itemBreadCrumb" url="./SearchUser.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosCRM}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosCRMVer}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BuscarUsuarioCRMVer}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId">
                <div class="tabla">
                    <p:panelGrid styleClass="panelGrid3">
                        <f:facet name="header">
                            <p:row>
                                <p:column style="width: 20%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMEmail}"/>
                                </p:column>
                                <p:column style="width: 10%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMMarca}"/>
                                </p:column>
                                <p:column style="width: 20%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMProducto}"/>
                                </p:column>
                                <p:column style="width: 15%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMFechaAlta}"/>
                                </p:column>
                                <p:column style="width: 15%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMFechaBaja}"/>
                                </p:column>
                                <p:column style="width: 25%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMParticipacion}"/>
                                </p:column>
                            </p:row>
                        </f:facet>   
                        <p:row>
                            <p:column style="width: 20%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.email}" styleClass="itemList"/>
                            </p:column>
                            <p:column style="width: 10%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.nombreMarca}" styleClass="itemList"/>
                            </p:column>
                            <p:column style="width: 20%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.nombreProducto}" styleClass="itemList"/>
                            </p:column>
                            <p:column style="width: 15%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.fechaAlta}" styleClass="itemList">
                                    <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                                </h:outputText>
                            </p:column>
                            <p:column style="width: 15%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.fechaBaja}" styleClass="itemList">
                                    <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                                </h:outputText>
                            </p:column>
                            <p:column style="width: 25%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.nombreParticipacion}" styleClass="itemList"/>
                            </p:column>
                        </p:row>

                    </p:panelGrid>
                    <br/>
                    <br/>
                    <p:panelGrid styleClass="panelGrid3">
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuario}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailUsuario}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersona}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_PERSONA" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailPersona}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailTelefono}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_TELEFONO" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailTelefono}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailDireccion}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_DIRECCION" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailDireccion}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailMarca}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_MARCA" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailMarca}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailProducto}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_MARCA_PRODUCTO" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailProducto}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailCL}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_MARCA_CONDICION_LEGAL" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailCL}" />
                                    </h:commandButton>  
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailCO}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_COMPRA_ONLINE" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailCO}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailConsumo}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_CONSUMO" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailConsumo}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailEC}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_ECOMMERCE" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailEC}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailAM}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_MARKETING_ACCION" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailAM}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailRS}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_RED_SOCIAL" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailRS}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPD}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_PLATAFORMA_DIGITAL" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailPD}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailDD}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_TIPO_DISPOSITIVO_DIGITAL" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailDD}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailRevista}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_REVISTA" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailRevista}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailID}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_INTERES" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailID}" />
                                        <f:param name="conditionField" value="IdInteresTipo" />
                                        <f:param name="conditionValue" value="1" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailII}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_INTERES" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailII}" />
                                        <f:param name="conditionField" value="IdInteresTipo" />
                                        <f:param name="conditionValue" value="2" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailMA}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_MARCA_AFIN" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailMA}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="width: 95%">
                                <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailParticipacion}"/>
                            </p:column>
                            <p:column>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showUnidadNegocio}" image="/images/add.png" title="#{messages.BotonEditar}">
                                        <f:param name="tableName" value="CNCRM_USUARIO_PARTICIPACION" />
                                        <f:param name="unidadNegocioName" value="#{messages.BuscarUsuarioCRMDetailParticipacion}" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>
                    <br/>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
    <h:outputScript library="js" name="calendar_es.js" />
</html>
