<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbResultadosCRMVer}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbBuscarUsuarioCRM}" styleClass="itemBreadCrumb" url="./SearchUser.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosCRM}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosCRMVer}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BuscarUsuarioCRMVer}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId">
                <div class="tabla">
                    <p:panelGrid styleClass="panelGrid3">
                        <f:facet name="header">
                            <p:row>
                                <p:column style="width: 20%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMEmail}"/>
                                </p:column>
                                <p:column style="width: 10%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMMarca}"/>
                                </p:column>
                                <p:column style="width: 20%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMProducto}"/>
                                </p:column>
                                <p:column style="width: 15%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMFechaAlta}"/>
                                </p:column>
                                <p:column style="width: 15%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMFechaBaja}"/>
                                </p:column>
                                <p:column style="width: 25%" styleClass="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMParticipacion}"/>
                                </p:column>
                            </p:row>
                        </f:facet>   
                        <p:row>
                            <p:column style="width: 20%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.email}" styleClass="itemList"/>
                            </p:column>
                            <p:column style="width: 10%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.nombreMarca}" styleClass="itemList"/>
                            </p:column>
                            <p:column style="width: 20%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.nombreProducto}" styleClass="itemList"/>
                            </p:column>
                            <p:column style="width: 15%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.fechaAlta}" styleClass="itemList">
                                    <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                                </h:outputText>
                            </p:column>
                            <p:column style="width: 15%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.fechaBaja}" styleClass="itemList">
                                    <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                                </h:outputText>
                            </p:column>
                            <p:column style="width: 25%">
                                <h:outputText value="#{cncrmBuscarUsuarioController.selected.nombreParticipacion}" styleClass="itemList"/>
                            </p:column>
                        </p:row>

                    </p:panelGrid>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailUsuario}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid style="width:100%">
                            <p:row>
                                <p:column>
                                    <strong><h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuario}"/></strong>
                                </p:column>
                                <p:column>
                                    <strong><h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.idUsuario}"/></strong>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuarioEmail}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.email}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuarioTipo}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.idUsuarioTipo.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuarioEsEmailAuto}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.esEmailAuto}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuarioFechaAltaPrimera}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.fechaAltaPrimera}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                    </h:outputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuarioFechaAlta}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.fechaAlta}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                    </h:outputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuarioFechaCambio}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.fechaCambio}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                    </h:outputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailUsuarioFechaBaja}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.fechaBaja}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                    </h:outputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailPersona}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmPersona}" style="width:100%">
                            <p:row>
                                <p:column>
                                    <strong><h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaNombre}"/></strong>
                                </p:column>
                                <p:column>
                                    <strong><h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.nombre}"/></strong>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaApellido1}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.apellido1}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaApellido2}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.apellido2}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaSexo}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.cnmasSexo.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaTipoDocumento}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.cnmasDocumento.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaDocumento}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.documento}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaFechaNacimiento}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.fechaNacimiento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                    </h:outputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaEstadoCivil}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.cnmasEstadoCivil.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaTieneHijos}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.tieneHijos}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaOcupacion}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.cnmasOcupacion.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaSituacionLaboral}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.cnmasSituacionLaboral.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaEstudios}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.cnmasNivelEstudio.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaIngresos}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.cnmasNivelIngreso.nombre}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailPersonaEmpresa}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cncrmBuscarUsuarioController.currentUsuario.cncrmPersona.empresa}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmPersona}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailPersona}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailTelefono}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmTelefonoCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmTelefonoCollection}" var="telf">
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{telf.cnmasTelefonoTipo.nombre}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{telf.cncrmTelefonoPK.numero}"/>
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmTelefonoCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailTelefono}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailDireccion}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmDireccionCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmDireccionCollection}" var="dir">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionId}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{dir.idDireccion}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionTipo}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.cnmasDireccionTipo.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionMarca}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.cnmasMarca.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionPais}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.cnmasPais.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionProvincia}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.cnmasProvincia.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionPoblacion}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.cnmasPoblacion.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionCP}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.codigoPostal}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccion}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.direccion}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionNombre}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionApellido1}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.apellido1}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDireccionApellido2}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.apellido2}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputLabel value="#{messages.BuscarUsuarioCRMDetailDireccionFechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dir.fechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmDireccionCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmDireccionCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailDireccion}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailMarca}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCollection}" var="marca">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailMarca}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{marca.cnmasMarca.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaUsuarioOrigen}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.idUsuarioOrigen.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaUsuarioTipo}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.idUsuarioTipo.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaEsOrigen}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.esOrigen}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaEsPrimordial}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.esPrimordial}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaFechaAltaPrimera}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaAltaPrimera}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaFechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaFechaCambio}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaCambio}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaFechaBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMarcaPuntuacion}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.puntuacion}"/>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailMarca}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailProducto}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaProductoCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaProductoCollection}" var="marca">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoMarca}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{marca.cnmasMarca.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailProducto}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{marca.cnmasProducto.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoFechaAltaPrimera}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaAltaPrimera}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoFechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoFechaCambio}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaCambio}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoFechaBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.fechaBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoIntervaloAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.intervaloAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoIntervaloBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.intervaloBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailProductoEsRenovacion}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{marca.esRenovacion}"/>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaProductoCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaProductoCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailProducto}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailCL}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCondicionLegalCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCondicionLegalCollection}" var="cl">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailCLMarca}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{cl.cnmasMarca.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL1FechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c1FechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL1FechaBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c1FechaBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL2FechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c2FechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL2FechaBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c2FechaBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL3FechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c3FechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL3FechaBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c3FechaBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL4FechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c4FechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL4FechaBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c4FechaBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL5FechaAlta}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c5FechaAlta}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCL5FechaBaja}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{cl.c5FechaBaja}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCondicionLegalCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaCondicionLegalCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailCL}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailCO}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioCompraOnlineCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioCompraOnlineCollection}" var="compra">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailCO}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{compra.cnmasCompraOnline.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailCOFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{compra.fecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioCompraOnlineCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailCO}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailConsumo}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioConsumoCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioConsumoCollection}" var="consumo">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailConsumoMarca}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{consumo.cnmasMarca.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailConsumoRFActivo}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{consumo.revFemActivo}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailConsumoRFFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{consumo.revFemFecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailConsumoRMActivo}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{consumo.revMasActivo}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailConsumoRMFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{consumo.revMasFecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailConsumoOActivo}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{consumo.onlineActivo}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailConsumoOFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{consumo.onlineFecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioConsumoCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioConsumoCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailConsumo}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailEC}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmEcommerceCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmEcommerceCollection}" var="ecom">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailEC}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{ecom.idCommerce}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailECMarca}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{ecom.cnmasMarca.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailECProducto}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{ecom.cnmasProducto.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailECCompra}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{ecom.idCompra}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailECFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{ecom.fecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmEcommerceCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmEcommerceCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailEC}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailAM}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarketingAccionCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarketingAccionCollection}" var="mkt">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailAM}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{mkt.cncrmUsuarioMarketingAccionPK.idMarketingAccion}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailAMMarca}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{mkt.cnmasMarca.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailAMProducto}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{mkt.cnmasProducto.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailAMFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{mkt.fechaUltimaAccion}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarketingAccionCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarketingAccionCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailAM}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailRS}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRedSocialCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRedSocialCollection}" var="red">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailRS}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{red.cnmasRedSocial.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailRSMarca}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{red.cnmasMarca.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailRSNombre}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{red.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailRSFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{red.fecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRedSocialCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRedSocialCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailRS}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailPD}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioPlataformaDigitalCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioPlataformaDigitalCollection}" var="pd">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailPD}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{pd.cnmasPlataformaDigital.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailPDFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{pd.fecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioPlataformaDigitalCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioPlataformaDigitalCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailPD}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailDD}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioTipoDispositivoDigitalCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioTipoDispositivoDigitalCollection}" var="dd">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailDDTerminal}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{dd.cnmasTipoTerminal.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailDDSO}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{dd.cnmasSistemaOperativo.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailDDFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{dd.fecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioTipoDispositivoDigitalCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioTipoDispositivoDigitalCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailDD}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailRevista}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRevistaCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRevistaCollection}" var="revista">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailRevista}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{revista.cnmasRevista.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailRevistaMarca}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{revista.cnmasMarca.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailRevistaFrecuencia}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{revista.cnmasFrecuenciaAno.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailRevistaFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{revista.fecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRevistaCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioRevistaCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailRevista}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailID}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection}" var="ideclarado">
                                <c:choose>
                                    <c:when test="#{ideclarado.cnmasInteresTipo.idInteresTipo eq 1}">
                                        <p:row>
                                            <p:column>
                                                <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailIInteres}"/></strong>
                                            </p:column>
                                            <p:column>
                                                <strong><h:outputText value="#{ideclarado.cnmasInteres.nombre}"/></strong>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <h:outputText value="#{messages.BuscarUsuarioCRMDetailIMarca}"/>
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{ideclarado.cnmasMarca.nombre}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <h:outputText value="#{messages.BuscarUsuarioCRMDetailIProducto}"/>
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{ideclarado.cnmasProducto.nombre}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <h:outputText value="#{messages.BuscarUsuarioCRMDetailIFecha}"/>
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{ideclarado.fecha}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                                </h:outputText>
                                            </p:column>
                                        </p:row>
                                        <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection.size() gt 1}">
                                            <p:column colspan="2">
                                                <p:separator />
                                            </p:column>
                                        </p:row>
                                    </c:when>
                                </c:choose>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailID}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailII}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection}" var="ideclarado">
                                <c:choose>
                                    <c:when test="#{ideclarado.cnmasInteresTipo.idInteresTipo eq 2}">
                                        <p:row>
                                            <p:column>
                                                <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailIInteres}"/></strong>
                                            </p:column>
                                            <p:column>
                                                <strong><h:outputText value="#{ideclarado.cnmasInteres.nombre}"/></strong>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <h:outputText value="#{messages.BuscarUsuarioCRMDetailIMarca}"/>
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{ideclarado.cnmasMarca.nombre}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <h:outputText value="#{messages.BuscarUsuarioCRMDetailIProducto}"/>
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{ideclarado.cnmasProducto.nombre}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <h:outputText value="#{messages.BuscarUsuarioCRMDetailIFecha}"/>
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{ideclarado.fecha}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                                </h:outputText>
                                            </p:column>
                                        </p:row>
                                        <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection.size() gt 1}">
                                            <p:column colspan="2">
                                                <p:separator />
                                            </p:column>
                                        </p:row>
                                    </c:when>
                                </c:choose>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioInteresCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailII}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailMA}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaAfinCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaAfinCollection}" var="afin">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailMA}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{afin.cnmasMarcaAfin.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMAMarca}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{afin.cnmasMarca.nombre}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailMAFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{afin.fecha}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaAfinCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioMarcaAfinCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailMA}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMDetailParticipacion}" toggleable="true" toggleSpeed="500" collapsed="true" style="width:820px">
                        <p:panelGrid rendered="#{not empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioParticipacionCollection}" style="width:100%">
                            <c:forEach items="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioParticipacionCollection}" var="part">
                                <p:row>
                                    <p:column>
                                        <strong><h:outputText value="#{messages.BuscarUsuarioCRMDetailParticipacion}"/></strong>
                                    </p:column>
                                    <p:column>
                                        <strong><h:outputText value="#{part.cnmasParticipacion.nombre}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <h:outputText value="#{messages.BuscarUsuarioCRMDetailParticipacionFecha}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{part.fechaInscripcion}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                                        </h:outputText>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioParticipacionCollection.size() gt 1}">
                                    <p:column colspan="2">
                                        <p:separator />
                                    </p:column>
                                </p:row>
                            </c:forEach>
                        </p:panelGrid>
                        <h:outputFormat rendered="#{empty cncrmBuscarUsuarioController.currentUsuario.cncrmUsuarioParticipacionCollection}" 
                                        value="#{messages.BuscarUsuarioCRMUnidadNegocioVista}">
                            <f:param value="#{messages.BuscarUsuarioCRMDetailParticipacion}" />
                        </h:outputFormat>
                    </p:fieldset>
                    <br/>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
    <h:outputScript library="js" name="calendar_es.js" />
</html>
