<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbResultadosCRM}</ui:define>
        <ui:define name="body">
            <h:form>

                <p:breadCrumb style="width: 250px;">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbBuscarUsuarioCRM}" styleClass="itemBreadCrumb" url="./SearchUser.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosCRM}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
                <br />
                <br />

                <p:dialog header="#{messages.BreadCrumbResultadosCRM}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </p:dialog>

                <div class="tabla2">
                    <h:outputText escape="false" value="#{messages.MarcaNoExistenDatos}" rendered="#{cncrmBuscarUsuarioController.items.rowCount == 0}"/>
                    <h:panelGroup rendered="#{cncrmBuscarUsuarioController.items.rowCount > 0}">
                        <p:dataTable value="#{cncrmBuscarUsuarioController.items}" var="item" styleClass="dataTable" 
                                     rowIndexVar="rowIndex" rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'highlight1' : 'highlight2'}" >
                            <p:column style="width: 20%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMEmail}"/>
                                </f:facet>
                                <h:outputText value="#{item.email}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 10%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMMarca}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombreMarca}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 20%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMProducto}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombreProducto}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 15%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMFechaAlta}"/>
                                </f:facet>
                                <h:outputText value="#{item.fechaAlta}" class="itemList">
                                    <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                                </h:outputText>
                            </p:column>
                            <p:column style="width: 15%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMFechaBaja}"/>
                                </f:facet>
                                <h:outputText value="#{item.fechaBaja}" class="itemList">
                                    <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                                </h:outputText>
                            </p:column>
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMCL1}"/>
                                </f:facet>
                                <h:outputText value="#{item.cl1}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMCL2}"/>
                                </f:facet>
                                <h:outputText value="#{item.cl2}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMCL3}"/>
                                </f:facet>
                                <h:outputText value="#{item.cl3}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 25%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMParticipacion}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombreParticipacion}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.BuscarUsuarioCRMVer}"/>
                                </f:facet>
                                <div align="center">
                                    <h:commandButton action="#{cncrmBuscarUsuarioController.showDetailList}" image="/images/edit.png" title="#{messages.BotonEditar}"/>
                                </div>
                            </p:column> 
                        </p:dataTable>
                    </h:panelGroup>
                    <div>
                        <div class="pagination">
                            <h:commandButton action="#{cncrmBuscarUsuarioController.previous()}" onclick="PF('waitPanel').show()" class="buttonPagination" value="#{messages.BotonPrevio}" rendered="#{cncrmBuscarUsuarioController.pagination.hasPreviousPage}"/>&nbsp;                            
                            <ui:repeat var="page" value="#{cncrmBuscarUsuarioController.pagination.pages}">
                                <h:commandButton action="#{cncrmBuscarUsuarioController.toPage(page)}" onclick="PF('waitPanel').show()" value="#{page}" class="#{(cncrmBuscarUsuarioController.pagination.isActivePage(page)) ? 'buttonPaginationPage' : 'buttonPagination'}" />&nbsp;
                            </ui:repeat>
                            <h:commandButton action="#{cncrmBuscarUsuarioController.next}" onclick="PF('waitPanel').show()" class="buttonPagination" value="#{messages.BotonSiguiente}" rendered="#{cncrmBuscarUsuarioController.pagination.hasNextPage}"/>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </h:form>
        </ui:define>
    </ui:composition>
    
</html>
