<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbBuscarUsuarioCRM}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb styleClass="breadCrumb">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbBuscarUsuarioCRM}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbBuscarUsuarioCRM}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="lineDirection"/>
            </p:dialog>
            
            <h:form id="formId">
                <div class="formulario">
                    <h:outputText value="#{messages.BuscarUsuarioCRMAclaracion}" />
                    <br/>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMEmail}">
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMIntroTexto}" for="email"/>
                                </p:column>
                                <p:column>
                                    <h:inputText id="email" value="#{cncrmBuscarUsuarioController.email}" required="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMMarca}">
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column>
                                    <div style="text-align: center">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.marcaCondition}" id="marcaCondition" required="false" 
                                                      layout="lineDirection" style="width: 100% ! important; padding-right: 40px; padding-left: 70px;">
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMAND}" itemLabel="#{messages.BuscarUsuarioCRMAND}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMANDNOT}" itemLabel="#{messages.BuscarUsuarioCRMANDNOT}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMOR}" itemLabel="#{messages.BuscarUsuarioCRMOR}" />
                                        <f:selectItem itemValue="" itemLabel="#{messages.BuscarUsuarioCRMIGNORE}" />
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column> 
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMSelectMultiple}" />
                                </p:column>
                                <p:column>
                                    <h:selectManyListbox id="marcas" value="#{cncrmBuscarUsuarioController.marcas}" size="7" style="width: 95%;" required="false">
                                        <f:selectItems  value="#{cnmasMarcaController.itemsAvailableSelectOneSinGuion}"/>
                                        <p:ajax event="change" update="marcaSubCondition" />
                                    </h:selectManyListbox>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{messages.BuscarUsuarioCRMSelectCondition}" />
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.marcaSubCondition}" id="marcaSubCondition" required="false"
                                                      layout="pageDirection" style="width: 100% !important; text-align: center;" 
                                                      disabled="#{cncrmBuscarUsuarioController.disableMarcaConditions()}">
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMAND}" itemLabel="#{messages.BuscarUsuarioCRMAND}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMOR}" itemLabel="#{messages.BuscarUsuarioCRMOR}" />
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMFechaAlta}">
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column>
                                    <div style="text-align: center">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.fechaAltaCondition}" id="fechaAltaCondition" required="false"
                                                      layout="lineDirection" style="width: 100% ! important; padding-right: 40px; padding-left: 70px;">
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMAND}" itemLabel="#{messages.BuscarUsuarioCRMAND}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMANDNOT}" itemLabel="#{messages.BuscarUsuarioCRMANDNOT}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMOR}" itemLabel="#{messages.BuscarUsuarioCRMOR}" />
                                        <f:selectItem itemValue="" itemLabel="#{messages.BuscarUsuarioCRMIGNORE}" />
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column> 
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMSelectFecha}" />
                                </p:column>
                                <p:column>
                                    <p:calendar styleClass="dateTimeField" id="fecha" value="#{cncrmBuscarUsuarioController.fechaAlta}"  
                                                showOn="button" locale="es" navigator="true" pattern="dd/MM/yyyy" mask="true" 
                                                required="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMProducto}">
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column>
                                    <div style="text-align: center">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.productoCondition}" id="productoCondition" required="false"
                                                      layout="lineDirection" style="width: 100% ! important; padding-right: 40px; padding-left: 70px;">
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMAND}" itemLabel="#{messages.BuscarUsuarioCRMAND}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMANDNOT}" itemLabel="#{messages.BuscarUsuarioCRMANDNOT}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMOR}" itemLabel="#{messages.BuscarUsuarioCRMOR}" />
                                        <f:selectItem itemValue="" itemLabel="#{messages.BuscarUsuarioCRMIGNORE}" />
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column> 
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMSelectMultiple}" />
                                </p:column>
                                <p:column>
                                    <h:selectManyListbox id="productos" value="#{cncrmBuscarUsuarioController.productos}" size="7" style="width: 95%;" required="false">
                                        <f:selectItems  value="#{cnmasProductoController.itemsAvailableSelectMany}"/>
                                        <p:ajax event="change" update="productoSubCondition" />
                                    </h:selectManyListbox>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{messages.BuscarUsuarioCRMSelectCondition}" />
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.productoSubCondition}" id="productoSubCondition" required="false"
                                                      layout="pageDirection" style="width: 100% ! important;"
                                                      disabled="#{cncrmBuscarUsuarioController.disableProductoConditions()}">
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMAND}" itemLabel="#{messages.BuscarUsuarioCRMAND}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMOR}" itemLabel="#{messages.BuscarUsuarioCRMOR}" />
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMAceptaEnvios}">
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column>
                                    <div style="text-align: center">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.enviosCondition}" id="enviosCondition" required="false"
                                                      layout="lineDirection" style="width: 100% ! important; padding-right: 40px; padding-left: 70px;">
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMAND}" itemLabel="#{messages.BuscarUsuarioCRMAND}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMANDNOT}" itemLabel="#{messages.BuscarUsuarioCRMANDNOT}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMOR}" itemLabel="#{messages.BuscarUsuarioCRMOR}" />
                                        <f:selectItem itemValue="" itemLabel="#{messages.BuscarUsuarioCRMIGNORE}" />
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column> 
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMAceptaEnviosNewsletter}" />
                                </p:column>
                                <p:column style="text-align: center">
                                    <div style="">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.aceptaCL1}" id="aceptaCL1" required="false">
                                        <f:selectItem itemLabel="#{messages.BuscarUsuarioCRMSi}" itemValue="#{true}" />
                                        <f:selectItem itemLabel="#{messages.BuscarUsuarioCRMNo}" itemValue="#{false}"/>
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column> 
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMAceptaEnviosGrupo}" />
                                </p:column>
                                <p:column>
                                    <div style="text-align: center">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.aceptaCL2}" id="aceptaCL2" required="false">
                                        <f:selectItem itemLabel="#{messages.BuscarUsuarioCRMSi}" itemValue="#{true}"/>
                                        <f:selectItem itemLabel="#{messages.BuscarUsuarioCRMNo}" itemValue="#{false}"/>
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column> 
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMAceptaEnviosComerciales}" />
                                </p:column>
                                <p:column>
                                    <div style="text-align: center">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.aceptaCL3}" id="aceptaCL3" required="false">
                                        <f:selectItem itemLabel="#{messages.BuscarUsuarioCRMSi}" itemValue="#{true}"/>
                                        <f:selectItem itemLabel="#{messages.BuscarUsuarioCRMNo}" itemValue="#{false}"/>
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="#{messages.BuscarUsuarioCRMParticipacion}">
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column>
                                    <div style="text-align: center">
                                    <p:selectOneRadio value="#{cncrmBuscarUsuarioController.participacionCondition}" id="participacionCondition" required="false"
                                                      layout="lineDirection" style="width: 100% ! important; padding-right: 40px; padding-left: 70px">
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMAND}" itemLabel="#{messages.BuscarUsuarioCRMAND}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMANDNOT}" itemLabel="#{messages.BuscarUsuarioCRMANDNOT}" />
                                        <f:selectItem itemValue="#{messages.BuscarUsuarioCRMOR}" itemLabel="#{messages.BuscarUsuarioCRMOR}" />
                                        <f:selectItem itemValue="" itemLabel="#{messages.BuscarUsuarioCRMIGNORE}" />
                                    </p:selectOneRadio>
                                    </div>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <p:panelGrid styleClass="panelGrid">
                            <p:row>
                                <p:column>
                                    <h:outputLabel value="#{messages.BuscarUsuarioCRMIntroTexto}" for="participacion"/>
                                </p:column>
                                <p:column>
                                    <h:inputText id="participacion" value="#{cncrmBuscarUsuarioController.participacion}" required="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <br/>
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="Buscar" action="#{cncrmBuscarUsuarioController.buscarUsuarios()}" onclick="PF('waitPanel').show()" styleClass="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="Limpiar" action="#{cncrmBuscarUsuarioController.reset()}" styleClass="button"/>
                    </div>
                </div>
                <!--<div id="waitPanel">
                    <ui:include src="../waitpanel.xhtml"/>
                    <p:dialog modal="true" header="#{messages.WaitPanelHeader}" resizable="false" id="waitPanel" widgetVar="waitPanel" visible="false">
                         <p:panel style="border: 0">
                             <p:outputLabel value="#{messages.WaitPanelText}" />
                             <div style="margin-top:5px; text-align: center;">
                                 <p:graphicImage rendered="#{not empty messages.WaitPanelText}"  value="../images/loading.gif" />
                             </div>
                         </p:panel>
                     </p:dialog>
                </div>-->
            </h:form>
        </ui:define>
    </ui:composition>
</html>
