<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbCrearProducto}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbProductos}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbCrearProducto}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbCrearProducto}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.ProductosNombre} *" for="nombre" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnmasProductoController.selected.nombre}" 
                                             required="true" requiredMessage="#{messages.ProductosNombreObligatorio}"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.ProductosCategoria} *" for="idProductoCategoria" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idProductoCategoria" value="#{cnmasProductoController.selected.idProductoCategoria}" 
                                                 style="width: 95%;" required="true" requiredMessage="#{messages.ProductosCategoriaObligatorio}">
                                    <f:selectItems value="#{cnmasProductoCategoriaController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>                        

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.ProductosPadre}" for="idProductoPadre" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idProductoPadre" value="#{cnmasProductoController.selected.idProductoPadre}" 
                                                 style="width: 95%;">
                                    <f:selectItems value="#{cnmasProductoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.ProductosPeso}" for="peso" />
                            </p:column>
                            <p:column>
                                <h:inputText id="peso" value="#{cnmasProductoController.selected.peso}" />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.ProductosCaducidad}" for="caducidad" />
                            </p:column>
                            <p:column>
                                <h:inputText id="caducidad" value="#{cnmasProductoController.selected.caducidad}"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.ProductosEsSuscripcion} *" for="esSuscripcion" />
                            </p:column>
                            <p:column>
                                <h:selectBooleanCheckbox value="#{cnmasProductoController.selected.esSuscripcion}"/>
                            </p:column>
                        </p:row>


                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.ProductosUsuariosOrigen}" />
                            </p:column>
                            <p:column>
                                <h:selectManyListbox value="#{cnmasProductoController.usuariosOrigen}" size="7" style="width: 95%;" >
                                    <f:selectItems  value="#{cnmasUsuarioOrigenController.itemsAvailableSelectOne}"/>
                                </h:selectManyListbox>
                            </p:column>
                        </p:row>   

                    </p:panelGrid>

                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton id="guardar" value="#{messages.BotonGuardar}" action="#{cnmasProductoController.create}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnmasProductoController.prepareList}" immediate="true" class="button"/>
                    </div>
                </div>                    

            </h:form>
        </ui:define>
    </ui:composition>
</html>
