<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:outputScript library="js" name="condeNast.js" />

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbEditarMasterDatos}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbOrigenDatos}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMasterDatos}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbEditarMasterDatos}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />

            <p:dialog header="#{messages.BreadCrumbEditarMasterDatos}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>


            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.MasterDatosNombre} *" for="nombre"  class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnetlMasterController.selected.nombre}"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.MasterDatosMasterTipo} *" for="idMasterTipo"  class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idMasterTipo" value="#{cnetlMasterController.selected.idMasterTipo}" style="width: 95%;">
                                    <f:selectItems value="#{cnetlMasterTipoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.MasterDatosOrigen} *" for="origen"  class="etiqueta" />                    
                            </p:column>
                            <p:column>

                                <h:inputText id="origen" value="#{cnetlMasterController.selected.origen}"  />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.MasterDatosEsFichero} *" for="esFichero"  class="etiqueta" />
                            </p:column>
                            <p:column>
                                <p:selectOneRadio id="esFichero" value="#{cnetlMasterController.selected.esFichero}" style="float:left">
                                    <f:selectItem itemLabel="#{messages.MasterDatosFichero}" itemValue="true" />
                                    <f:selectItem itemLabel="#{messages.MasterDatosCarpeta}" itemValue="false" />
                                </p:selectOneRadio>   
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.MasterDatosActivo}" for="activo" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:selectBooleanCheckbox value="#{cnetlMasterController.selected.activo}" class="panelGrid2"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid styleClass="panelGridTable">
                        <p:row>
                            <p:column style="width: 30%; vertical-align: top;">
                                <div align="center">
                                    #{messages.MasterDatosValoresPersonalizadosBBDD}
                                </div>     
                                <br/>
                                <h:selectOneListbox id="valorBBDD" value="#{cnetlMasterController.valorSeleccionadoBBDD}" onclick="showDescription();"  size="20" style="width: 100%;">
                                    <f:selectItems value="#{cnetlMasterController.valoresBBDD}" var="item" itemDisabled="#{cnetlMasterController.isDisabled(item)}" />
                                </h:selectOneListbox> 
                                <p:messages severity="info" id="messagesSource" showDetail="true"  closable="true" style="padding-left:  5px !important; width: 315px;"  />
                            </p:column>
                            <p:column style="width: 5%;">
                                <div align="center">
                                    <h:commandButton action="#{cnetlMasterController.insertOrigen}" image="/images/add.png" style="width: 25px;"  />
                                    <br/>
                                    <h:commandButton action="#{cnetlMasterController.removeOrigen}" image="/images/remove.png" style="width: 25px;"/>
                                </div>
                            </p:column>

                            <p:column style="width: 60%; vertical-align: top;">
                                <div align="center">
                                    #{messages.MasterDatosValoresPersonalizadosOrigen}
                                </div>     
                                <br/>
                                <p:dataTable id="valores" value="#{cnetlMasterController.valoresOrigen}" var="origenMaster" 
                                             selectionMode="single" rowKey="#{origenMaster.cnetlOrigen.idOrigen}"
                                             selection="#{cnetlMasterController.valorSeleccionadoOrigen}"
                                             emptyMessage="">
                                    <p:column> 
                                        <f:facet name="header">  
                                            #{messages.MasterDatosCampoBBDD}
                                        </f:facet>
                                        <h:outputText value="#{origenMaster.cnetlOrigen.nombre}" />  
                                    </p:column> 
                                    <p:column>  
                                        <f:facet name="header">  
                                            #{messages.MasterDatosValor}
                                        </f:facet>
                                        <h:inputText  value="#{origenMaster.valor}" style="width: 100%;">
                                            <f:validator validatorId="datoValidator"/>
                                            <f:attribute name="expReg" value="#{origenMaster.cnetlOrigen.idDato.expReg}"/>
                                            <f:attribute name="campoBBDD" value="#{origenMaster.cnetlOrigen.nombre}"/>
                                        </h:inputText>
                                    </p:column>  
                                    <p:column>  
                                        <f:facet name="header">  
                                            #{messages.MasterDatosFormato}
                                        </f:facet>
                                        <h:outputText  value="#{origenMaster.cnetlOrigen.idDato.descripcion}"/>  
                                    </p:column>  
                                </p:dataTable>
                            </p:column>
                        </p:row>
                    </p:panelGrid>



                    <p:remoteCommand name="descriptionOrigen" action="#{cnetlMasterController.showDescription}" update="messagesSource" immediate="true"/>

                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="#{messages.BotonGuardar}" action="#{cnetlMasterController.update}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnetlMasterController.prepareList}" immediate="true" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
