<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:outputScript library="js" name="condeNast.js" />

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbEditarUsuarioCN}</ui:define>
        <ui:define name="body">

            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbUsuariosCN}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbEditarUsuarioCN}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbEditarUsuarioCN}" visible="#{not empty facesContext.messageList}"  styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.UsuarioCNNombre} *" for="nombre" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnsegUsuarioController.selected.nombre}" 
                                             required="true"  requiredMessage="#{messages.UsuarioCNNombreObligatorio}"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.UsuarioCNApellido1} *" for="apellido1" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="apellido1" value="#{cnsegUsuarioController.selected.apellido1}" 
                                             required="true"  requiredMessage="#{messages.UsuarioCNApellido1Obligatorio}"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.UsuarioCNApellido2}" for="apellido2" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="apellido2" value="#{cnsegUsuarioController.selected.apellido2}"  />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.UsuarioCNNTUser} *" for="ntname" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="ntname" value="#{cnsegUsuarioController.selected.ntname}"
                                             required="true" requiredMessage="#{messages.UsuarioCNNTUserObligatorio}"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.UsuarioCNRol} *" for="idPerfil" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idPerfil" value="#{cnsegUsuarioController.selected.idPerfil}" 
                                                 onchange="changePerfil(#{cnsegUsuarioController.PERFIL_NUMERO_FILAS_DETALLE})"
                                                 required="true" requiredMessage="#{messages.UsuarioCNRolObligatorio}" style="width: 95%;">
                                    <f:selectItems value="#{cnsegPerfilController.itemsAvailableSelectOne}"/>

                                </h:selectOneMenu>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column style="vertical-align: initial;" >
                                <h:outputLabel value="#{messages.UsuarioCNMarcas}" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:selectManyListbox value="#{cnsegUsuarioController.marcas}" size="7" style="width: 95%;">
                                    <f:selectItems value="#{cnmasMarcaController.itemsAvailableSelectMany}"/>
                                </h:selectManyListbox>    
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.UsuarioCNActivoInactivo}" for="activo" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:selectBooleanCheckbox value="#{cnsegUsuarioController.activo}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid styleClass="panelGrid">
                        <p:row id="divNumFilasDetalle">
                            <p:column>
                                <h:outputLabel value="#{messages.UsuarioCNNumFilasDetalle}" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="numeroFilasDetalle" value="#{cnsegUsuarioController.selected.idPerfil.numeroFilasDetalle}" />
                            </p:column>
                        </p:row>

                        <p:row id="divNumFilasDetalle2">
                            <p:column>
                                <h:outputText id="hiddenNumeroFilasDetalle" value="#{cnsegUsuarioController.selected.idPerfil.numeroFilasDetalle}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <p:remoteCommand id="changePerfilJSF" name="changePerfilJSF" action="#{cnsegUsuarioController.changePerfil()}" 
                                     update="hiddenNumeroFilasDetalle"
                                     oncomplete="changePerfilComplete()" immediate="true"/>



                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="#{messages.BotonGuardar}" action="#{cnsegUsuarioController.update}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnsegUsuarioController.prepareList()}" immediate="true" class="button"/>
                    </div>
                </div>
            </h:form>

            <script type="text/javascript">
                $(document).ready(function() {
                    changePerfil(#{cnsegUsuarioController.PERFIL_NUMERO_FILAS_DETALLE});
                });
            </script>
        </ui:define>
    </ui:composition>

</html>
