<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbUsuariosCN}</ui:define>
        <ui:define name="body">
            <h:form>

                <p:breadCrumb style="width: 220px;">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbMaestros}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbUsuariosCN}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
                <br />
                <br />

                <p:dialog header="#{messages.BreadCrumbUsuariosCN}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </p:dialog>

                <div class="tabla">
                    <h:outputText escape="false" value="#{messages.UsuarioCNNoExistenDatos}" rendered="#{cnsegUsuarioController.items.rowCount == 0}"/>

                    <h:panelGroup rendered="#{cnsegUsuarioController.items.rowCount > 0}">

                        <p:dataTable value="#{cnsegUsuarioController.items}" var="item" styleClass="dataTable" 
                                     rowIndexVar="rowIndex"
                                     rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'highlight1' : 'highlight2'}" >
                            <p:column style="width: 2%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.Id}"/>
                                </f:facet>
                                <h:outputText value="#{item.idUsuario}" class="itemList"/>
                            </p:column> 
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.UsuarioCNNombre}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombre}" class="itemList"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.UsuarioCNApellido1}"/>
                                </f:facet>
                                <h:outputText value="#{item.apellido1}" class="itemList"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.UsuarioCNApellido2}"/>
                                </f:facet>
                                <h:outputText value="#{item.apellido2}" class="itemList"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.UsuarioCNNTUser}"/>
                                </f:facet>
                                <h:outputText value="#{item.ntname}" class="itemList"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.UsuarioCNRol}"/>
                                </f:facet>
                                <h:outputText value="#{item.idPerfil.nombre}" class="itemList"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.UsuarioCNMarcas}"/>
                                </f:facet>
                                <ui:repeat value="#{item.cnmasMarcaCollection}" var="marcas">
                                    <h:outputText value="#{marcas.nombre};" class="itemList"/><br/>
                                </ui:repeat>
                            </p:column> 
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.UsuarioCNActivo}"/>
                                </f:facet>
                                <div align="center">
                                    <h:selectBooleanCheckbox value="#{item.fechaBaja == null}" disabled="true"/>
                                </div>
                            </p:column> 
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{messages.ListaOperaciones}"/>
                                </f:facet>
                                <div align="center">
                                    <h:commandButton action="#{cnsegUsuarioController.prepareEdit}" image="/images/edit.png" title="#{messages.BotonEditar}"/>
                                    <h:outputText value="&nbsp;"/>
                                    <h:commandButton action="#{cnsegUsuarioController.destroy}" image="/images/eliminar.png" title="#{messages.BotonEliminar}"
                                                     onclick="return confirm('#{messages.UsuarioCNDeseaEliminar}')"/>
                                </div>
                            </p:column>
                        </p:dataTable>

                    </h:panelGroup>
                    <div>
                        <div class="pagination">
                            <h:commandButton action="#{cnsegUsuarioController.previous()}" class="buttonPagination" value="#{messages.BotonPrevio}" rendered="#{cnsegUsuarioController.pagination.hasPreviousPage}"/>&nbsp;                            
                            <ui:repeat var="page" value="#{cnsegUsuarioController.pagination.pages}">
                                <h:commandButton action="#{cnsegUsuarioController.toPage(page)}" value="#{page}" class="#{(cnsegUsuarioController.pagination.isActivePage(page)) ? 'buttonPaginationPage' : 'buttonPagination'}" />&nbsp;
                            </ui:repeat>
                            <h:commandButton action="#{cnsegUsuarioController.next}" class="buttonPagination" value="#{messages.BotonSiguiente}" rendered="#{cnsegUsuarioController.pagination.hasNextPage}"/>
                        </div>
                    </div>
                    <br />
                    <div class="actions" style="padding-bottom: 20px;">
                        <h:commandButton value="#{messages.BotonNuevo}"  action="#{cnsegUsuarioController.prepareCreate}" class="button"/>
                    </div>
                </div>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
