<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbBorradoInactivos}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb styleClass="breadCrumb">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbBorradoInactivos}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbBorradoInactivos}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="lineDirection"/>
            </p:dialog>

            <h:form id="formId" enctype="multipart/form-data">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.BorradoInactivosProceso} * (#{cncrmUsuariosInactivosController.current.fechaCambio})" >
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                </h:outputLabel>
                            </p:column>
                            <p:column>
                                <p:selectOneRadio value="#{cncrmUsuariosInactivosController.current.activo}" id="proceso" required="true">
                                    <f:selectItem itemLabel="#{messages.BorradoInactivosActivado}" itemValue="#{true}" />
                                    <f:selectItem itemLabel="#{messages.BorradoInactivosDesactivado}" itemValue="#{false}"/>
                                </p:selectOneRadio>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.BorradoInactivosFecha}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{cncrmUsuariosInactivosController.current.fechaCambio}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.BorradoInactivosInactividad}" />
                            </p:column>
                            <p:column styleClass="tooltip">
                                <h:inputText id="inactividad" value="#{cncrmUsuariosInactivosController.current.mesesInactividad}" maxlength="3" required="false" styleClass="integer" />
                                <p:graphicImage id="inactividadInfo" value="../images/info.png" alt="Info" />
                                <p:tooltip id="inactividadTipFocus" for="inactividadInfo" value="#{messages.BorradoInactivosInactividadInfo}" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.BorradoInactivosAviso}" />
                            </p:column>
                            <p:column styleClass="tooltip">
                                <h:inputText id="aviso" value="#{cncrmUsuariosInactivosController.current.semanasAviso}" maxlength="3" required="false" styleClass="integer" />
                                <p:graphicImage id="avisoInfo" value="../images/info.png" alt="Info" />
                                <p:tooltip id="avisoTipFocus" for="avisoInfo" value="#{messages.BorradoInactivosAvisoInfo}" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.BorradoInactivosDestinatarios}" />
                            </p:column>
                            <p:column styleClass="tooltip">
                                <h:inputText id="destinatarios" value="#{cncrmUsuariosInactivosController.current.destinatarios}" required="false"  styleClass="text">
                                    <f:validator validatorId="emailValidator" />
                                </h:inputText>
                                <p:graphicImage id="destinatariosInfo" value="../images/info.png" alt="Info" />
                                <p:tooltip id="destinatariosTipFocus" for="destinatariosInfo" value="#{messages.BorradoInactivosDestinatariosInfo}" />
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>
                    <br/>
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="Guardar" action="#{cncrmUsuariosInactivosController.save()}" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
