<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <h:outputScript library="js" name="condeNast.js" />

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbEditarTipoFuenteDatos}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb>
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbOrigenDatos}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbTipoFuenteDatos}" styleClass="itemBreadCrumb" url="./List.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbEditarTipoFuenteDatos}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbEditarTipoFuenteDatos}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId">
                <div class="formulario">
                    <p:panelGrid  styleClass="panelGrid" >
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoFuenteDatosNombre} *" for="nombre" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="nombre" value="#{cnetlFuenteTipoController.selected.nombre}" 
                                             required="true" requiredMessage="#{messages.TipoFuenteDatosNombreObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoFuenteDatosFieldTerminated} *" for="fieldTerminated" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="fieldTerminated" value="#{cnetlFuenteTipoController.selected.fieldTerminated}" 
                                             required="true" requiredMessage="#{messages.TipoFuenteDatosFieldTerminatedObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoFuenteDatosFieldEnclosed}" for="fieldEnclosed" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="fieldEnclosed" value="#{cnetlFuenteTipoController.selected.fieldEnclosed}" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoFuenteDatosFieldScaped}" for="fieldScaped" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="fieldScaped" value="#{cnetlFuenteTipoController.selected.fieldScaped}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoFuenteDatosLineTerminated} *" for="lineTerminated" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="lineTerminated" value="#{cnetlFuenteTipoController.selected.lineTerminated}" 
                                             required="true" requiredMessage="#{messages.TipoFuenteDatosLineTerminatedObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoFuenteDatosLineIgnore} *" for="lineIgnore" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:inputText id="lineIgnore" value="#{cnetlFuenteTipoController.selected.lineIgnore}" 
                                             required="true" requiredMessage="#{messages.TipoFuenteDatosLineIgnoreObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.TipoFuenteDatosFormato} *" for="idFormato" class="etiqueta" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="idFormato" value="#{cnetlFuenteTipoController.selected.idFormato}" 
                                                 required="true" requiredMessage="#{messages.TipoFuenteDatosFormatoObligatorio}" style="width: 95%;">
                                    <f:selectItems value="#{cnetlFormatoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>

                    <p:panelGrid styleClass="panelGridTable"> 
                        <p:row>
                            <p:column style="padding-top: 30px;" >
                                <div align="center" >
                                    <p:pickList id="pickList" value="#{cnetlFuenteTipoController.origenes}" widgetVar="pickListVar"
                                                var="origen" itemLabel="#{origen.nombre}" itemValue="#{origen}"  
                                                showTargetControls="true" converter="origenPickListConverter" style="text-align: left">

                                        <p:ajax event="transfer" listener="#{cnetlFuenteTipoController.onElementDualListTransfer}" update="pickList" /> 

                                        <f:facet name="sourceCaption">#{messages.TipoFuenteDatosCamposDisponibles}</f:facet>
                                        <f:facet name="targetCaption">#{messages.TipoFuenteDatosCamposOrigen}</f:facet>
                                    </p:pickList>
                                </div>
                                <p:messages severity="info" id="messagesSource" showDetail="true"  closable="true" style="padding-left:  70px !important; width: 310px;" />
                                <p:messages severity="info" id="messagesTarget" showDetail="true"  closable="true" style="padding-left:  410px !important; width: 310px;" /> 
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <p:remoteCommand name="descriptionOrigen" action="#{cnetlFuenteTipoController.showDescription}" update="messagesSource" immediate="true"/>
                    <p:remoteCommand name="descriptionDestino" action="#{cnetlFuenteTipoController.showDescription}" update="messagesTarget" immediate="true"/>

                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="#{messages.BotonGuardar}" action="#{cnetlFuenteTipoController.update}" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonCancelar}" action="#{cnetlFuenteTipoController.prepareList()}" immediate="true" class="button"/>
                    </div>
                </div>
            </h:form>

            <script type="text/javascript">
                $(document).ready(function() {
                    rebindClicks();
                });
            </script>
        </ui:define>
    </ui:composition>



</html>
