<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbAdminLog}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb styleClass="breadCrumb">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbAdminLog}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbAdminLog}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="lineDirection"/>
            </p:dialog>

            <h:form id="formId" enctype="multipart/form-data">
                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.AdminLogFechaDesde} *" />
                            </p:column>
                            <p:column>
                                <p:calendar styleClass="dateTimeField" id="fechaDesde" value="#{vietlLogAdminController.fechaDesde}"  
                                            showOn="button" locale="es" navigator="true" pattern="dd/MM/yyyy" mask="true" 
                                            required="true" requiredMessage="#{messages.AdminLogFechaDesdeObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.AdminLogFechaHasta} *" />
                            </p:column>
                            <p:column>
                                <p:calendar styleClass="dateTimeField" id="fechaHasta" value="#{vietlLogAdminController.fechaHasta}"  
                                            showOn="button" locale="es" navigator="true" pattern="dd/MM/yyyy" mask="true" 
                                            required="true" requiredMessage="#{messages.AdminLogFechaHastaObligatorio}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.AdminLogFuenteTipo} *" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="fuenteTipo" value="#{vietlLogAdminController.fuenteTipo}" 
                                                 style="width: 95%;" required="true" requiredMessage="#{messages.AdminLogTipoFuenteObligatorio}">
                                    <f:selectItems value="#{cnetlFuenteTipoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.AdminLogFuente}" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="fuente" value="#{vietlLogAdminController.fuente}" 
                                                 style="width: 95%;" required="false">
                                    <f:selectItems value="#{cnetlFuenteController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column> 
                                <h:outputLabel value="#{messages.AdminLogEstado}" />
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="estado" value="#{vietlLogAdminController.estado}" 
                                                 style="width: 95%;" required="false">
                                    <f:selectItems value="#{cnetlEstadoController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>
                    <br/>
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="Buscar" action="#{vietlLogAdminController.buscarLogs()}" class="button"/>
                    </div>
                </div>
            </h:form>
<script language="JavaScript" type="text/JavaScript">
    function cleanWindow() {
        $('[id="formId:fechaDesde"]')[0].value = null;
        $('[id="formId:fechaHasta"]')[0].value = null;
        $.each( $('[id="formId:fuenteTipo"]')[0], function( index, fuenteTipo ) {
            fuenteTipo.selected = false;
        });
        $.each( $('[id="formId:fuente"]')[0], function( index, fuente ) {
            fuente.selected = false;
        });
        $.each( $('[id="formId:estado"]')[0], function( index, estado ) {
            estado.selected = false;
        });
    }

    window.onload = cleanWindow;
</script> 
        </ui:define>
    </ui:composition>
</html>
