<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbResultadosAdminLog}</ui:define>
        <ui:define name="body">
            <h:form>

                <p:breadCrumb style="width: 250px;">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbAdminLog}" styleClass="itemBreadCrumb" url="./BuscarLog.xhtml"/>
                    <p:menuitem value="#{messages.BreadCrumbResultadosAdminLog}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
                <br />
                <br />

                <p:dialog header="#{messages.BreadCrumbResultadosAdminLog}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </p:dialog>

                <div class="tabla2">
                    <h:outputText escape="false" value="#{messages.LogNoExistenDatos}" rendered="#{vietlLogAdminController.items.rowCount == 0}"/>
                    <h:panelGroup rendered="#{vietlLogAdminController.items.rowCount > 0}">
                        <p:dataTable value="#{vietlLogAdminController.items}" var="item" styleClass="dataTable" 
                                     rowIndexVar="rowIndex" rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'highlight1' : 'highlight2'}" >
                            <p:column style="width: 7%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogInicio}"/>
                                </f:facet>
                                <h:outputText value="#{item.inicioPool}" class="itemList"><f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="both" /></h:outputText>
                            </p:column>                            
                            <p:column style="width: 7%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogLoad}"/>
                                </f:facet>
                                <h:outputText value="#{item.loadPool}" class="itemList"><f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="both" /></h:outputText>
                            </p:column>
                            <p:column style="width: 7%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogFin}"/>
                                </f:facet>
                                <h:outputText value="#{item.finPool}" class="itemList"><f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="both" /></h:outputText>
                            </p:column>
                            <p:column style="width: 7%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogFuenteTipo}"/>
                                </f:facet>
                                <h:outputText value="#{item.fuenteTipo}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 7%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogFuente}"/>
                                </f:facet>
                                <h:outputText value="#{item.fuente}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 7%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogEstado}"/>
                                </f:facet>
                                <h:outputText value="#{item.estado}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 15%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogArchivo}"/>
                                </f:facet>
                                <h:outputText value="#{item.archivo}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogLineasTotal}"/>
                                </f:facet>
                                <h:outputText value="#{item.lineas}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogLineasOK}"/>
                                </f:facet>
                                <h:outputText value="#{item.lineasOK}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 5%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogLineasKO}"/>
                                </f:facet>
                                <h:outputText value="#{item.lineasError}" class="itemList"/>
                            </p:column>
                            <p:column style="width: 7%">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogDuracion}"/>
                                </f:facet>
                                <!--<h:outputText value="#{item.duracionPool}" class="itemList"><f:convertDateTime pattern="hh:mm:ss" type="time" /></h:outputText>-->
                                <h:outputText value="#{item.duracionPoolStr}" class="itemList"><f:convertDateTime pattern="hh:mm:ss" type="time" /></h:outputText>
                            </p:column>
                            <p:column style="width: 7%; text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="#{messages.AdminLogAcciones}"/>
                                </f:facet>
                                <div>
                                    <h:commandButton action="#{vietlLogAdminController.showDetailList()}" image="/images/exportar.png" title="#{messages.BotonExportar}"/>
                                    <h:commandButton image="/images/eliminar.png" title="#{messages.BotonEliminar}"
                                                     onclick="return confirm('#{messages.AdminLogDeseaEliminarItem}');">
                                        <p:ajax event="click" listener="#{vietlLogAdminController.destroyItem()}" onstart="PF('waitPanel').show()" oncomplete="PF('waitPanel').hide()" update="@form" />
                                    </h:commandButton>
                                </div>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                    <div>
                        <div class="pagination">
                            <h:commandButton action="#{vietlLogAdminController.previous()}" class="buttonPagination" value="#{messages.BotonPrevio}" rendered="#{vietlLogAdminController.pagination.hasPreviousPage}"/>&nbsp;                            
                            <ui:repeat var="page" value="#{vietlLogAdminController.pagination.pages}">
                                <h:commandButton action="#{vietlLogAdminController.toPage(page)}" value="#{page}" class="#{(vietlLogAdminController.pagination.isActivePage(page)) ? 'buttonPaginationPage' : 'buttonPagination'}" />&nbsp;
                            </ui:repeat>
                            <h:commandButton action="#{vietlLogAdminController.next}" class="buttonPagination" value="#{messages.BotonSiguiente}" rendered="#{vietlLogAdminController.pagination.hasNextPage}"/>
                        </div>
                    </div>
                    <br />
                    <c:if test="#{vietlLogAdminController.items.rowCount > 0}">    
                    <div class="actions" style="padding-bottom: 20px;">
                        <h:commandButton value="#{messages.BotonEliminar}"  action="#{vietlLogAdminController.destroyAllItems}" class="button" 
                                                     onclick="return confirm('#{messages.AdminLogDeseaEliminar}')"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton value="#{messages.BotonExportar}" action="#{vietlLogAdminController.exportToCSV}" immediate="true" class="button"/>
                    </div>
                    </c:if>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>