<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbCargaManual}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb styleClass="breadCrumb">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbCargaManual}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbCargaManualMaster}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbCargaManual}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId" enctype="multipart/form-data">

                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.CargaManualRuta} *" class="etiqueta" />
                            </p:column>
                            <p:column>
                                 <h:inputFile value="#{cargaManualController.file}"  label="Examinar" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.CargaManualFuentes} *" />
                            </p:column>
                            <p:column>
                                <p:selectOneRadio value="#{cargaManualController.master}" layout="pageDirection" 
                                                  style="width: 100% !important;">
                                    <f:selectItems value="#{cnetlMasterController.itemsAvailableSelectMany}"/>
                                </p:selectOneRadio>
                                
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="#{messages.BotonProcesar}" action="#{cargaManualController.procesarMaster()}" onclick="PF('waitPanel').show()" class="button"/>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
