<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <ui:composition template="/template.xhtml">
        <ui:define name="title">#{messages.BreadCrumbCargaManual}</ui:define>
        <ui:define name="body">
            <h:form>
                <p:breadCrumb styleClass="breadCrumb">
                    <p:menuitem value="#{messages.BreadCrumbInicio}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbCargaManual}" styleClass="itemBreadCrumb"/>
                    <p:menuitem value="#{messages.BreadCrumbCargaManualIngesta}" styleClass="itemBreadCrumb"/>
                </p:breadCrumb>
            </h:form>
            <br />
            <br />

            <p:dialog header="#{messages.BreadCrumbCargaManual}" visible="#{not empty facesContext.messageList}" styleClass="dialog">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </p:dialog>

            <h:form id="formId" enctype="multipart/form-data">

                <div class="formulario">
                    <p:panelGrid styleClass="panelGrid">
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.CargaManualRuta} *" class="etiqueta" />
                            </p:column>
                            <p:column>
                                 <h:inputFile value="#{cargaManualController.file}"  label="Examinar" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <h:outputLabel value="#{messages.CargaManualFuentes} *" />
                            </p:column>
                            <p:column>
                                <p:selectOneRadio value="#{cargaManualController.fuente}" layout="pageDirection" 
                                                  style="width: 100% !important;">
                                    <f:selectItems value="#{cnetlFuenteController.itemsAvailableSelectMany}"/>
                                </p:selectOneRadio>
                                
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <div class="actions" style="padding-bottom: 20px; padding-top: 40px;">
                        <h:commandButton value="#{messages.BotonProcesar}" action="#{cargaManualController.procesar()}" onclick="PF('waitPanel').show()" class="button"/>
                        <h:outputText value="&nbsp;"/>
                        <h:commandButton id="desactivar" value="#{messages.BotonProcesarTodo}" action="#{cargaManualController.informarProcesarTodo}" onclick="PF('waitPanel').show()" class="button"/>
                        <p:confirmDialog header="#{messages.BotonProcesarTodo}" message="#{messages.CargaManualinformarProcesarTodo}" widgetVar="dialogProcesarTodo">
                            <h:commandButton value="Si" class="button" styleClass="ui-confirmdialog-yes">
                                <p:ajax event="click" class="ui-confirmdialog-si" listener="#{cargaManualController.procesarTodo()}" onstart="PF('dialogProcesarTodo').hide(); PF('waitPanel').show()" onerror="alert('Errorrrr')"/> 
                            </h:commandButton>
                            <h:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" onclick="PF('dialogProcesarTodo').hide()" />
                        </p:confirmDialog>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
