<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" >

    <h:form>
        <div align="center">
        <h:outputLabel value="Copyright @ 2014 CondéNast" style="font-size: 80%; color: white; font-style: italic;"/>
        </div>
    </h:form>

</html>
