<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" >

    <h:form style="background-color: #5c6165;  border:none; padding:0;">
        <table>
            <tr>
                <td>
                    <h:commandLink action="/index.xhtml">
                        <p:graphicImage value="/images/logo.png" style="border: 0px;"/>
                    </h:commandLink>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td style="vertical-align: middle">
                    <h:commandLink action="/index.xhtml" style="text-decoration: none;">
                        <h:outputLabel value="CRM Audiencias" style="font-size: 130%; font-weight: bold; color: white; "/>
                    </h:commandLink>
                </td>
            </tr>
        </table>
    </h:form>

</html>
