<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" >

    <h:form  style="font-size: 80%;">
        <p:menubar>
            <p:submenu label="#{messages.BreadCrumbCargaManual}"  icon="ui-icon-document">
                <p:menuitem value="#{messages.BreadCrumbCargaManualIngesta}" outcome="/cargaManual/CargaManual" />
                <p:menuitem value="#{messages.BreadCrumbCargaManualMaster}" outcome="/cargaManual/CargaMaster" />
            </p:submenu>
            <p:submenu label="#{messages.BreadCrumbOrigenDatos}"  icon="ui-icon-document">
                <p:menuitem value="#{messages.BreadCrumbFuenteDatos}" outcome="/cnetlFuente/List"  />
                <p:menuitem value="#{messages.BreadCrumbTipoFuenteDatos}" outcome="/cnetlFuenteTipo/List" />
                <p:separator />
                <p:menuitem value="#{messages.BreadCrumbMasterDatos}" outcome="/cnetlMaster/List"  />
                <p:menuitem value="#{messages.BreadCrumbTipoMasterDatos}" outcome="/cnetlMasterTipo/List" />
            </p:submenu>
            <p:submenu label="#{messages.BreadCrumbMaestros}" icon="ui-icon-document">
                <p:menuitem value="#{messages.BreadCrumbMarketingAccion}" outcome="/cnmasMarketingAccion/List" />
                <p:menuitem value="#{messages.BreadCrumbCategoria}" outcome="/cnmasCategoria/List" />
                <p:menuitem value="#{messages.BreadCrumbCategoriasProductos}" outcome="/cnmasProductoCategoria/List" />
                <p:menuitem value="#{messages.BreadCrumbCompraOnline}" outcome="/cnmasCompraOnline/List" />
                <p:menuitem value="#{messages.BreadCrumbConsumo}" outcome="/cnmasConsumo/List" />
                <p:menuitem value="#{messages.BreadCrumbEstadoCivil}" outcome="/cnmasEstadoCivil/List" />
                <p:menuitem value="#{messages.BreadCrumbFrecuenciaAno}" outcome="/cnmasFrecuenciaAno/List" />
                <p:menuitem value="#{messages.BreadCrumbIntereses}" outcome="/cnmasInteres/List" />
                <p:menuitem value="#{messages.BreadCrumbMarca}" outcome="/cnmasMarca/List" />
                <p:menuitem value="#{messages.BreadCrumbMarcasAfines}" outcome="/cnmasMarcaAfin/List" />
                <p:menuitem value="#{messages.BreadCrumbNivelesEstudio}" outcome="/cnmasNivelEstudio/List" />
                <p:menuitem value="#{messages.BreadCrumbNivelesIngreso}" outcome="/cnmasNivelIngreso/List" />
                <p:menuitem value="#{messages.BreadCrumbOcupacion}" outcome="/cnmasOcupacion/List" />
                <p:menuitem value="#{messages.BreadCrumbOcupacionTipo}" outcome="/cnmasOcupacionTipo/List" />
                <p:menuitem value="#{messages.BreadCrumbOrigenesUsuario}" outcome="/cnmasUsuarioOrigen/List" />
                <p:menuitem value="#{messages.BreadCrumbPlataformaDigital}" outcome="/cnmasPlataformaDigital/List" />
                <p:menuitem value="#{messages.BreadCrumbProductos}" outcome="/cnmasProducto/List" />
                <p:menuitem value="#{messages.BreadCrumbRangoCaducidad}" outcome="/cnmasRangoCaducidad/List" />
                <p:menuitem value="#{messages.BreadCrumbRangoEdad}" outcome="/cnmasRangoEdad/List" />
                <p:menuitem value="#{messages.BreadCrumbRevistas}" outcome="/cnmasRevista/List" />
                <p:menuitem value="#{messages.BreadCrumbSistemaOperativo}" outcome="/cnmasSistemaOperativo/List" />
                <p:menuitem value="#{messages.BreadCrumbSituacionLaboral}" outcome="/cnmasSituacionLaboral/List" />
                <p:menuitem value="#{messages.BreadCrumbDocumento}" outcome="/cnmasDocumento/List" />
                <p:menuitem value="#{messages.BreadCrumbParticipacionTipo}" outcome="/cnmasParticipacionTipo/List" />
                <p:menuitem value="#{messages.BreadCrumbTipoTerminal}" outcome="/cnmasTerminal/List" />
                <p:menuitem value="#{messages.BreadCrumbTiposUsuario}" outcome="/cnmasUsuarioTipo/List" />
            </p:submenu>
            <p:submenu label="#{messages.BreadCrumbUsuarios}" icon="ui-icon-document">
                <p:menuitem value="#{messages.BreadCrumbUsuariosCN}" outcome="/cnsegUsuario/List" />
                <p:menuitem value="#{messages.BreadCrumbUsuariosCRM}" outcome="/cncrmUsuario/Delete" />
                <p:separator />
                <p:menuitem value="#{messages.BreadCrumbBuscarUsuarioCRM}" outcome="/searchUser/SearchUser" />
                <p:separator />
                <p:menuitem value="#{messages.BreadCrumbBorradoInactivos}" outcome="/inactiveUser/Process" />
            </p:submenu>
            <!--
            <p:submenu label="#{messages.BreadCrumbAdministracionClientes}" icon="ui-icon-document">
                <p:menuitem value="#{messages.BreadCrumbClientesApi}" outcome="/cnapiClientes/List" />
            </p:submenu>
            -->
            <p:submenu label="#{messages.BreadCrumbAdminLog}" icon="ui-icon-document">
                <p:menuitem value="#{messages.BreadCrumbAdminLog}" outcome="/adminLog/BuscarLog" />
            </p:submenu>
        </p:menubar>
    </h:form>
</html>
