<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="condeNast.css"/>
        <h:outputScript library="js" name="condeNast.js" />
        <title><ui:insert name="title">CRM Audiencias</ui:insert></title>
    </h:head>


    <style type="text/css">

        .ui-layout-unit{
            visibility:hidden;padding:0em;
        }
        .ui-layout-unit-header, .ui-layout-unit-footer{
            padding:0em 0em 0em 0em;
        }
        .ui-layout-unit-header-title, .ui-layout-unit-footer-title{}.ui-layout-unit .ui-layout-unit-content{
            padding:0em 0em;border:0px none;overflow:auto;
        }
        .ui-layout-unit-header-icon{
            float:right;
        }
        .ui-layout-unit-header-icon,.ui-layout-unit-header-icon:hover,.ui-layout-unit-header-icon:focus{
            margin: 0em;
        }
        .ui-layout-unit-expand-icon{
            display:block;width:16px;position:absolute;left:4px;top:2px;
        }

        .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
            border: none !important;
            background-color: #dfecf1 !important;
        }
        .ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit {
            background-image:  none !important;
        }        



        #contenedor {
            background-color: #5c6165;
            margin:0 auto 0 auto; 
            width: 990px;
        }
        #cabecera {
        }
        #menu {
            float: left;
            width: 100%;
            padding-bottom: 10px;
            background-color: white;
        }
        #contenido {
            float: left;
            width: 100%;
            min-height: 500px;
            background-color: white;
            font-family: Arial, Verdana, Helvetica, sans-serif;
        }
        #pie {
            padding-bottom: 20px;
            padding-top: 20px;
            height: 35px;
            clear: both;
        }
    </style>
    
    <h:body style="background-color: #5c6165;">


        <div id="contenedor">
            <div id="cabecera">
                <ui:include src="header.xhtml" />
            </div>

            <div id="menu">
                <ui:include src="menu.xhtml" />
            </div>

            <div id="contenido">
                <ui:insert name="body"></ui:insert>
                <ui:include src="waitpanel.xhtml"/>
            </div>

            <div id="pie">
                <ui:include src="footer.xhtml"/>
            </div>
        </div>
        <!--
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="auto">
                <ui:include src="header.xhtml" />
            </p:layoutUnit>
            <p:layoutUnit position="west" size="auto">
                <ui:include src="menu.xhtml" />
            </p:layoutUnit>
            <p:layoutUnit position="center" size="auto">
                <ui:insert name="body"></ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="auto">
                <ui:insert name="footer"></ui:insert>
            </p:layoutUnit>

        </p:layout>
        -->
    </h:body>

</html>
