<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui" >
    <p:dialog modal="true" header="#{messages.WaitPanelHeader}" resizable="false" id="waitPanel" widgetVar="waitPanel" visible="false">
        <p:panel style="border: 0">
            <p:outputLabel value="#{messages.WaitPanelText}" />
            <div style="margin-top:5px; text-align: center;">
                <!--<p:graphicImage rendered="#{not empty messages.WaitPanelText}"  value="../images/loading.gif" />-->
                <img src="../images/loading.gif"/>
            </div>
        </p:panel>
    </p:dialog>
</html>
